{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Управление спортивными командами{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Управление спортивными командами</h1>
        <nav>
            {% if user.is_authenticated %}
                <a href="{% url 'dashboard' %}">Личный кабинет</a>
                <a href="{% url 'profile' %}">Профиль</a>
                <form method="post" action="{% url 'logout' %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Выход</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Вход</a>
                <a href="{% url 'register' %}">Регистрация</a>
            {% endif %}
            <a href="{% url 'contact' %}">Обратная связь</a>  <!-- Ссылка на форму обратной связи -->
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
